<?xml version="1.0" encoding="utf-8" ?>

<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd">

  <variable name="logDirectory" value="${basedir}/Logs" />
  <variable name="logLayout" value="${longdate} | ${level:uppercase=true} | ${logger:uppercase=false} | ${message} ${onexception:${newline}${trim-whitespace:trimWhiteSpace=true:inner=${exception:format=ToString,StackTrace:maxInnerExceptionLevel=5:innerFormat=ToString,StackTrace}}}" />

  <targets>
    <target name="MainLog"
            xsi:type="File"
            fileName="${logDirectory}/mainLog.log"
            encoding="UTF-8"
            layout="${logLayout}" />

    <target name="FileLogger"
            xsi:type="File"
            fileName="${logDirectory}/${logger}.log"
            encoding="UTF-8"
            layout="${logLayout}" />

    <target name="richTextBoxSetup"
        xsi:type="RichTextBox"
        layout="${time} ► ${message}"
        formName="setupForm"
        controlName="rbLogSetup"
        autoScroll="true"
        maxLines="2000"
        allowAccessoryFormCreation="false"
        messageRetention="OnlyMissed"
        supportLinks="false"
        useDefaultRowColoringRules="false">

      <row-coloring backgroundColor="Empty" condition="level==LogLevel.Info" fontColor="Black" />
      <row-coloring backgroundColor="Empty" condition="level==LogLevel.Warn" fontColor="Orange" />
      <row-coloring backgroundColor="Empty" condition="level==LogLevel.Error" fontColor="Red" />
    </target>

    <target name="richTextBox"
          xsi:type="RichTextBox"
          layout="${time} ► ${message}"
          formName="mainForm"
          controlName="rbLog"
          autoScroll="true"
          maxLines="2000"
          allowAccessoryFormCreation="false"
          messageRetention="OnlyMissed"
          supportLinks="false"
          useDefaultRowColoringRules="false">

      <row-coloring backgroundColor="Empty" condition="level==LogLevel.Info" fontColor="Black" />
      <row-coloring backgroundColor="Empty" condition="level==LogLevel.Warn" fontColor="DarkOrange" />
      <row-coloring backgroundColor="Empty" condition="level==LogLevel.Error" fontColor="Red" />
    </target>
  </targets>

  <rules>
    <logger name="*" minlevel="Info" writeTo="MainLog">
      <filters>
        <when condition="equals('${logger}','windowLog')" action="Ignore" />
      </filters>
    </logger>
    <logger name="windowLog" minLevel="Info" writeTo="richTextBox, richTextBoxSetup, FileLogger" />
  </rules>
</nlog>